/**
* @subsection   google-map.css
*
* @description  Easy as hell Google Map Api Jquery plugin.
*
*
* @author       Evgeniy Gusarov (Stmechanus || Diversant)

* @link         
*/
.map_model {
  height: 485px;
}
.map_model img {
  max-width: none !important;
}
@media (max-width: 767px) {
  .map_model {
    height: 250px;
  }
}
@media (max-width: 479px) {
  .map_model {
    height: 200px;
  }
}
.map_locations {
  display: none;
}
